.footer{
    display: flex;
    justify-content: center;
    p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.2em;

        color: $second-color;
        b{
            color: $primary-color;
        }
    }
}